/* Figtree */
@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/figtree-v9-latin-regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/figtree-v9-latin-500.woff2') format('woff2');
}
@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/figtree-v9-latin-600.woff2') format('woff2');
}

/* Sarabun */
@font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/sarabun-v17-latin-300.woff2') format('woff2');
}
@font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/sarabun-v17-latin-regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/sarabun-v17-latin-500.woff2') format('woff2');
}
@font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/sarabun-v17-latin-600.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;